footer {
    margin-top: 2rem; 
    font-size: 0.9rem;
}
footer .btn-floating {
    font-size: 1.2rem;
}

footer .list-unstyled {
    padding: 0;
}

footer .list-inline-item {
    margin-right: 10px;
}

footer a:hover {
    color: #f8f9fa;
}
